/* ==========================================================================

   ========================================================================== */

.headline {
    max-width: 960px;
    margin: 0 auto 10px auto;
}


/*breadcrumb list*/
nav.breadcrumb-list {
    margin-left: 1em;
    padding: 0;
}
ol#breadcrumb-topics {
    margin: 0;
    padding: 0;
}
nav.breadcrumb-list ol#breadcrumb-topics li {
    font-size: small;
    color: #333333;
    float: left;
}
nav.breadcrumb-list ol#breadcrumb-topics li a {
    color: #333333;
}
nav.breadcrumb-list ol#breadcrumb-topics li a:hover {
    color: #9c9c9c;
    text-decoration: none;
}

.main {
    margin-top: 0;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
}



/*breadcrumb list
nav.breadcrumb-list li {
    float: left;
    line-height: 20px;
}

nav.breadcrumb-list li a {
    float: left;
    display: block;
    color: #787878;
    background: #e2e5f2;
    padding: 0 10px 0 15px;
    text-decoration: none;
    font-size: small;
}
nav.breadcrumb-list li a::after {
    position: relative;
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: -15px;
    height: 10px;
    width: 10px;
    content: " ";
    -webkit-transform: skew(-30deg);
    background: #e2e5f2;
    border-right: 2px solid white;
}
nav.breadcrumb-list li a::before {
    float: right;
    display: block;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: -15px;
    height: 10px;
    width: 10px;
    content: " ";
    -webkit-transform: skew(30deg);
    background: #e2e5f2;
    border-right: 2px solid white;
}

nav.breadcrumb-list li:last-child {
    color: black;
    padding-left: 10px;
    background: transparent !important;
    font-weight: 100;
    font-size: small;
}

nav.breadcrumb-list li:first-child a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    background:#1a8fe2;
}

nav.breadcrumb-list li:first-child a::after,
nav.breadcrumb-list li:first-child a::before {
    background:#1a8fe2;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
*/
